<%= nav n unless skip_nav %>

<div class="main">
<% if section_title %>
  <h2><%= section_title %></h2>
<% end %>

<div class="content">
<%= markdown content %>
</div>

</div>

<%= nav n unless skip_nav %>
