/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700); */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('opensans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('opensans-italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('opensans-bold.woff') format('woff');
}

/***/
body {
  font-family: 'Open Sans', helvetica,arial,sans-serif;
}

div.nav {
  border: 1px solid blue;
  padding: .25em;
  display: inline-block; /* shrink-wrapped */
  background: #F5F5FF;
  float: right;
  margin: .25em;
}

div.top-goal {
  border: 1px solid black; padding: 1em; margin-bottom: 1em
}
div.content {
  background: #ccf; border: 1px solid black; padding: 1em; margin: 1em;
}
div.main {
  margin: auto;
  max-width: 50em;
}


div.goal  { background: #fcc; padding: 1em; }
div.steps { background: #ffc; padding: 1em; }
div.what   { background: #cfc; padding: 1em; }
pre.term { background: black; color: #0f0; margin: 1em; padding: 1em }
pre.code { background: white; color: black; margin: 1em; padding: 1em; border: 1px solid black }
h2 { font-size: 3.0em; padding: 0; margin: 0 }
h3 { font-size: 2.0em; padding: 0; margin: 0 0 0.5em 0 }
h4 { font-size: 1.5em; padding: 0; margin: 0 }

